<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"/>
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> -->
<style>
    .home {
  background: url("https://th.bing.com/th/id/R.5589caeb8f5dcc63825dfcc8de388def?rik=jL%2fPNVr4EJWNYA&riu=http%3a%2f%2fwww.pngmart.com%2ffiles%2f3%2fGrilled-Food-PNG-File.png&ehk=gvEUs9P%2bg9srvOm1Bc3Wb4wBbDLyZa32iHO2FBylJOI%3d&risl=&pid=ImgRaw&r=0")
    no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #fff;
}

.lingkaran {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #90caf9;
}

.lingkaran i {
  position: relative;
  top: 30px;
}

</style>
</head>
<body>
     <!-- navigasi -->
    <nav
    class="navbar navbar-expand-lg navbar-dark shadow-lg fixed-top"
    style="background-color:#50577A ;">
    <div class="container">
      <a class="navbar-brand">FooD</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-right" id="navbarText">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#TopUp">Top Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#GoFood">Gofood</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Home -->
  <div class="container-fluid home">
    <div class="container text-center" >
      <h3 class="display-6">Selamat memesan makanan</h3>
      <a href="/shopuser">
        <button type="button" class="btn btn-primary btn-lg" style="background-color:#50577A ;">
          buy
        </button>
      </a>
    </div>
  </div>

  <!-- Top Up -->
  <div class="container-fluid layanan pt-5 pb-5">
    <div class="container text-center">
      <h2 class="display-3" id="TopUp">TopUp</h2>
      <p>
        Beli pakai duit uy
      </p>
      <div class="row pt-4">
        <div class="col-md-4" style="justify-content:center;">
          <span class="lingkaran"><img width="200px" height="200px" style="border-radius:60px ; margin-right: 50px;" class='bx bxl-go-lang' src="https://1.bp.blogspot.com/-Q3dtky1VPQc/XoAlsNmRVdI/AAAAAAAAK8M/S7CzXgZUpY0KQh3zlTT0DMEjdPUabBWxwCNcBGAsYHQ/s320/GO-PAY%2Bnew%2B%255Bwww.blogovector.com%255D.png"></span>
          <h3 class="mt-5">gopay</h3>
          <p>
            Dompet digital terbaik di Indonesia
          </p>
        </div>

        <div class="col-md-4" style="justify-content:center;" >
          <span class="lingkaran"><img width="200px" height="200px" style="border-radius:60px ;" class='bx bxl-go-lang' src="https://logodix.com/logo/2015053.png"></span>
          <h3 class="mt-5">shopeepay</h3>
          <p>
            ShopeePay adalah fitur uang elektronik terdepan
          </p>
        </div>

        <div class="col-md-4">
          <span class="lingkaran"><img width="200px" height="200px" style="border-radius:60px ;" class='bx bxl-go-lang' src="https://1.bp.blogspot.com/-YZb4sqBo4wM/XqcBd4qYwVI/AAAAAAAAAQg/8F60s1NOLJcNGFGRryqYQw_wvxg6d6VtQCLcBGAsYHQ/s1600/OVO%2B%255Bwww.blogovector.com%255D.png"></span>
          <h3 class="mt-5">ovo</h3>
          <p>
           Layanan dompet digital memberikan kemudahan
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- gofood -->
  <div class="container-fluid pt-5 pb-5 bg-light">
    <div class="container text-center">
      <h2 class="display-3" id="GoFood">GoFood</h2>
      <p>
        kualitas oke, harga terjangkau.
      </p>
      <div class="row pt-4 gx-4 gy-4">
        <div class="col-md-4">
          <div class="card crop-img">
            <img
              src="https://www.teakpalace.com/image/cache/catalog/artikel/gambar-makanan-paling-enak-sate-kambing-1000x750h.jpg"
              class="card-img-top"
              width="200"
              height="200"
            />
            <div class="card-body">
              <h5 class="card-title">Sate Madura.</h5>
              <p class="card-text">
                Keistimewanan sate ayam Madura ini menggunakan daging ayam yang empuk dengan bumbu disunguhkan saus kacang.
              </p>
              <!-- <a href="satemadura"><button type="button" class="btn btn-primary btn-lg">buy</button></a> -->
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card crop-img">
            <img
              src="https://th.bing.com/th/id/OIP.VtLi4Fjru72SVp52CPNguAHaEj?pid=ImgDet&rs=1"
              class="card-img-top"
              width="200"
              height="200"
            />
            <div class="card-body">
              <h5 class="card-title">Ayam Betutu.</h5>
              <p class="card-text">
                Racikan bumbu base genep khas Bali membuat ayam betutu makin terasa lezat dan pedas. Kuliner satu ini kaya akan rempah dengan cita rasa yang khas.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card crop-img">
            <img
              src="https://th.bing.com/th/id/R.ec9d4babef35c69b08c1b0a8c7b7c254?rik=KMRqIS4rFTP95w&riu=http%3a%2f%2f3.bp.blogspot.com%2f-ML9mufskUbU%2fUoRRj58pDYI%2fAAAAAAAAASc%2fVRFXWLGq9hY%2fs1600%2fsoto.jpg&ehk=7y8eXEASL4u8K7xj7dX5Dq8Vi%2fbDENNIwslaeR4GCKs%3d&risl=&pid=ImgRaw&r=0"
              class="card-img-top"
              width="200"
              height="200"
            />
            <div class="card-body">
              <h5 class="card-title">Soto Lamongan</h5>
              <p class="card-text">
                Salah satu kuliner khas Nusantara, hidangan denagn kuah kaldu yang kaya rasa dan isian daging ayam, sapi atau daging, dan jerohan lainnya.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card crop-img">
            <img
              src="https://fodmap-publicsite-us-east-2.s3.amazonaws.com/production/media/images/Nasi_Goreng.original.jpg"
              class="card-img-top"
              width="200"
              height="200"
            />
            <div class="card-body">
              <h5 class="card-title">Nasi Goreng.</h5>
              <p class="card-text">
                Makanan khas Indonesia yang membutuhkan bumbu-bumbu dasar. Namun semua diolah dipadukan dengan beragam menu dan topping lain. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card crop-img">
            <img
              src="https://th.bing.com/th/id/OIP.kWUcT2NsiSd26uMY8BPeXQHaHa?pid=ImgDet&rs=1"
              class="card-img-top"
              width="200"
              height="200"
            />
            <div class="card-body">
              <h5 class="card-title">Pizza</h5>
              <p class="card-text">
                Hidangan tradisional Italia berupa roti berbentuk bundar dan pipih yang di atasnya diberi topping saus tomat dan keju, lalu dipanggang di dalam oven.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card crop-img">
            <img
              src="https://th.bing.com/th/id/OIP.9vCzbKu4BDRnUHkhaopGIQHaEK?pid=ImgDet&rs=1"
              class="card-img-top"
              width="200"
              height="200"
            />
            <div class="card-body">
              <h5 class="card-title">Burger.</h5>
              <p class="card-text">
                Hidangan ini terbagi menjadi dua bagian, yakni roti dan isiannya. Roti berbentuk bulat serta isian yang dapat disesuaikan dengan selera.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- about -->
  <div class="container-fluid pt-5 pb-5">
    <div class="container ">
      <h2 class="display-3 text-center" id="About">About</h2>
      <p class="text-center">
        Sekilas Informasi
      </p>
      <div class="clearfix pt-5">
        <img
          src="https://th.bing.com/th/id/OIP.WYPeTvPeMuZFJi4gjCzBTAAAAA?pid=ImgDet&rs=1"
          class="col-md-5 float-md-end mb-3 " 
          width="90"
          height="500"
        />
        <div class="col-md-5" style="justify-content:center;">
        <p>
            Dengan semakin canggihnya teknologi, kini banyak kegiatan sehari-hari yang menjadi terbantu dengan banyaknya kehadiran aplikasi yang juga mudah untuk diakses. Salah satu aplikasi yang kini menjamur hadir disekitar kita adalah aplikasi pesan makanan online. 
        </p>
        <p>
            Setelah dimudahkan dengan banyaknya aplikasi untuk berbelanja online, membeli makanan dan minuman favorite pun bisa menjadi lebik praktis nan mudah sekarang ini. Hanya melalui genggaman smarthphone, Anda bisa memesan makanan dan minuman favorite untuk dikirimkan ke alamat tujuan Anda.
        </p>
        <p>Tak hanya itu, pembayaran nya pun mudah melalui via online yaitu Gopay, Shopeepay, dan Ovo.</p>
        <p>Penggunaan ini dapat diakses di mana pun dan kapan pun anda berada </p>
      </div>
      </div>
    </div>
  </div>
</body>
</html>
</body>
</html>